$content-minWidth: 400px;
$content-maxWidth: 75rem;
$page-padding: 1rem;
// $background: #121212;
$green1: #aaff00;
$green2: #05ff00;

$nav-background: #252525;
$nav-height: 3rem;

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
}

.nav {
  &-background {
    background-color: $nav-background;
    height: $nav-height;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 $page-padding;
  }

  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: $content-maxWidth;
    min-width: $content-minWidth;
    height: $nav-height;
  }

  &-logo {
    height: 2.5rem;

    & .m1,
    & .c1,
    & .i1,
    & .g1,
    & .u1,
    & .e1,
    & .l1 {
      fill: $green1;
    }

    & .c2,
    & .i2,
    & .s1,
    & .n1,
    & .e2,
    & .r1,
    & .o1,
    & .s2 {
      fill: $green2;
    }
  }

  &-bar {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    height: $nav-height;
    max-width: 32rem;

    &-link {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: #ccc;
      height: $nav-height;

      &:hover {
        border-bottom: .4rem solid #fff;
        border-top: .4rem solid transparent;
        color: #fff;
        text-shadow: 0 0 10px #ffffff77;
      }

      &.current {
        color: $green2;
        border-bottom: .4rem solid $green2;
        border-top: .4rem solid transparent;

        &:hover {
          text-shadow: none;
        }
      }
    }
  }

  &-btn {
    width: 2.7rem;
    height: 2rem;
    border: 1px solid #ccc;
    border-radius: 7px;
    background-color: transparent;
    padding-top: 2px;
    box-shadow: 0 0 10px #ffffff33;

    &-lines {
      stroke: #ccc;
      stroke-width: 2px;
      height: 1.2rem;
      width: 2rem;
    }

    &:hover {
      box-shadow: 0 0 10px #ffffff77;
      border: 1px solid #fff;
    }
    &:hover &-lines {
      stroke: #fff;
    }
  }

  &-menu {
    border: 1px solid darken($color: $nav-background, $amount: 10);
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 3rem;
    right: 0;
    max-height: calc(100vh - 3rem);
    overflow: auto;
    z-index: 10;
    opacity: 0;

    &-link {
      color: #ccc;
      background-color: $nav-background;
      text-decoration: none;
      padding: .5rem 2rem;
      border-left: .4rem solid transparent;
      border-right: .4rem solid transparent;

      &:hover {
        color: #fff;
        text-shadow: 0 0 10px #ffffff77;
        border-left: .4rem solid #fff;
        background-color: lighten($color: $nav-background, $amount: 5);
      }

      &.current {
        color: $green2;
        border-left: .4rem solid $green2;

        &:hover {
          text-shadow: none;
          background-color: $nav-background;
        }
      }
    }
  }
}